@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Nøsted Service App</h1>
    <h2>Her kommer oversikten Til Service</h2>
    <p>tiden på serverer er 10/6/2023 7:19:03PM</p>

    <p>Hjelp til Nettsiden: <a href="https://docs.microsoft.com/aspnet/core">Web apps(ASP.NET Core)</a>.</p>
    <br>
    <p>Bilde fra prototype</p>
    <img class="LOGOnosted" src="/Bilder/testOversikt.png" style="max-height:auto">

</div>

