/* Skjuler elementet med klassen .hidden-logo */
.hidden-logo {
    display: none;
}

/* Styling for containeren som inneholder tabellen */
.table-container {
    display: flex;
    justify-content: center;
}

/* Generell styling for tabellen */
table {
    margin-top: 10px;
    width: 21cm;
    border-collapse: collapse;
    page-break-after: auto;
}

/* Styling for tabellceller og overskrifter */
table, th, td {
    border: 1px solid #000;
}

/* Styling for padding, tekstjustering og bredde av tabellceller og overskrifter */
th, td {
    padding: 8px;
    text-align: left;
    width: 25%;
}

/* Styling for overskrifter */
th {
    background-color: #f2f2f2;
}

/* Fjerner høyre grense for siste kolonne i en rad */
tr td:last-child {
    border-right: none;
}

/* Styling for spesifikke celleklasser */
.text-cell {
    height: 80px;
    vertical-align: top;
}

.right-cell {
    text-align: right;
}

/* Media query for utskriftsstil */
@media print {
    /* Skjuler visse elementer ved utskrift */
    #fiksaheader {
        display: none !important;
    }

    /* Viser elementet med klassen .hidden-logo ved utskrift */
    .hidden-logo {
        display: block !important;
    }

    /* Tilpasser kroppen og siden for utskrift */
    body {
        margin: 0;
        padding: 0;
    }

    @page {
        margin: 0;
    }

    /* Skjuler footer-elementet ved utskrift */
    footer {
        display: none;
    }

    /* Skjuler elementene med ID-ene #print og #printoverskrift ved utskrift */
    #print {
        display: none;
    }

    #printoverskrift {
        display: none;
    }
}
