@page
@using Loginnosted.Views.Confirmation.Login;
@model ConfirmationViewModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Bekreftelse</title>
</head>
<body>
    <h2>Takk for innsendingen!</h2>
    <p>Dine data er lagret. Vi takker for din deltakelse.</p>
</body>
</html>
