@model EditUserViewModel

@{
    ViewData["Title"] = "Rediger Bruker";
}

<h2>Rediger Bruker</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="RedigerBruker" method="post">
            <input type="hidden" asp-for="UserId" />

            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelectedRoles"></label>
                <select asp-for="SelectedRoles" asp-items="@(new SelectList(ViewBag.AllRoles))" class="form-control" multiple></select>
                <span asp-validation-for="SelectedRoles" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Oppdater Bruker</button>
            <a asp-action="VisAlleBrukere" class="btn btn-secondary">Tilbake til Liste</a>
        </form>
    </div>
</div>