@model BrukerMedRollerViewModel

@{
    ViewData["Title"] = "Rediger Bruker";
}
<!-- Meldinger fra TempData -->
@{
    var message = TempData["Message"] as string;
}
<!-- Vis suksessmelding hvis tilgjengelig -->
@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-success" role="alert">
        @message
    </div>
}

<h2>Rediger Bruker</h2>
<hr/>

<form asp-action="LagreRedigering" method="post">
    <!-- Legg til skjult felt for UserId -->
    <input type="hidden" asp-for="UserId"/>

    <div class="form-group">
        <label asp-for="UserName">Brukernavn:</label>
        <input asp-for="UserName" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Email">E-postadresse:</label>
        <input asp-for="Email" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Rolle:</label>
        <div>
            @foreach (var availableRole in Model.AlleRoller)
            {
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Roller" value="@availableRole"
                           @(Model.Roller.Contains(availableRole) ? "checked" : "")/>
                    <label class="form-check-label">@availableRole</label>
                </div>
            }
        </div>
    </div>

    <!--Knapp for å lagre ny bruker-->
    <button type="submit" class="btn btn-primary">Lagre endringer</button>
    <a asp-action="VisAlleBrukere" asp-controller="Bruker">Tilbake</a>
</form>