@model ServiceOrdre

@{
    ViewData["Title"] = "Edit";
}
<!-- Overskrift for redigeringssiden -->
<h2>Rediger Serviceordre</h2>

<!-- Underskrift for ServiceOrdre-seksjon -->
<hr />
<!-- Oppretter et HTML-skjema for redigering med en kolonne for input-feltene -->
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Edit", "Service"))
        {
            @Html.AntiForgeryToken()
            <!-- Valideringsoppsummering for modellen, vises som rød tekst ved valideringsfeil -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Skjult felt for OrdreID -->
            <input type="hidden" asp-for="OrdreID" />

            <!-- Gjennomgang av hver attributt i ServiceOrdre og oppretter input-felt -->
            <!-- Disse feltene lar brukeren redigere verdier -->
            <div class="form-group">
                <strong><label asp-for="Kundenavn" class="control-label">Kundenavn:</label></strong>
                <input asp-for="Kundenavn" class="form-control text-muted" />
                <span asp-validation-for="Kundenavn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="Kundeepost" class="control-label">Kunde-Epost:</label></strong>
                <input asp-for="Kundeepost" class="form-control text-muted" />
                <span asp-validation-for="Kundeepost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="Kundetlf" class="control-label">Kunde-tlf:</label></strong>
                <input asp-for="Kundetlf" class="form-control text-muted" />
                <span asp-validation-for="Kundetlf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="Produkttypevinsj" class="control-label">Vinsjtype:</label></strong>
                <input asp-for="Produkttypevinsj" class="form-control text-muted" />
                <span asp-validation-for="Produkttypevinsj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="ÅrsmodellVinsj" class="control-label">Årsmodell-Vinsj:</label></strong>
                <input asp-for="ÅrsmodellVinsj" class="form-control text-muted" />
                <span asp-validation-for="ÅrsmodellVinsj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="Serienummervinsj" class="control-label">Serienummer-Vinsj:</label></strong>
                <input asp-for="Serienummervinsj" class="form-control text-muted" />
                <span asp-validation-for="Serienummervinsj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="AvtaltKommentar" class="control-label">Avtalt Kommentar:</label></strong>
                <input asp-for="AvtaltKommentar" class="form-control text-muted" />
                <span asp-validation-for="AvtaltKommentar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="InternKommentar" class="control-label">Intern Kommentar:</label></strong>
                <input asp-for="InternKommentar" class="form-control text-muted" />
                <span asp-validation-for="InternKommentar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="Problembeskrivelse" class="control-label">Problembeskrivelse:</label></strong>
                <input asp-for="Problembeskrivelse" class="form-control text-muted" />
                <span asp-validation-for="Problembeskrivelse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="ServiceType" class="control-label">Sericetype:</label></strong>
                <input asp-for="ServiceType" class="form-control text-muted" />
                <span asp-validation-for="ServiceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="AvtaltleveringsDato" class="control-label">Avtalt Leveringsdato:</label></strong>
                <input asp-for="AvtaltleveringsDato" class="form-control text-muted" />
                <span asp-validation-for="AvtaltleveringsDato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="Avtaltferdigstillingsdato" class="control-label">Avtalt Ferdigstiltdato:</label></strong>
                <input asp-for="Avtaltferdigstillingsdato" class="form-control text-muted" />
                <span asp-validation-for="Avtaltferdigstillingsdato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="ProduktmottattDato" class="control-label">Produkt Motatt:</label></strong>
                <input asp-for="ProduktmottattDato" class="form-control text-muted" />
                <span asp-validation-for="ProduktmottattDato" class="text-danger"></span>
            </div>
            <br />
            <!-- Knapp for å lagre endringer -->
            <div class="form-group">
                <input type="submit" value="Lagre endringer" class="btn btn-primary" />
                <a asp-action="Arkiv">Tilbake til historikk</a>

            </div>
        }
    </div>
</div>
<!-- Inkluderer scripts for validering -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}