@model ServiceOrdre

@{
    ViewData["Title"] = "Registrer";
}

@if (!string.IsNullOrEmpty(TempData["Message"]?.ToString()))
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<div>
    <h2>Registrer ny serviceordre</h2>
    <p><italic>Fyll ut info om kunden</italic></p>
</div>


<form asp-action="Registrer" method="post">
    <div class="form-group">
        <label asp-for="Kundenavn">Navn på kunden</label>
        <input asp-for="Kundenavn" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Kundeepost">Epost</label>
        <input asp-for="Kundeepost" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Kundetlf">Tlfnummer</label>
        <input asp-for="Kundetlf" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Produkttypevinsj">Vinsj type</label>
        <input asp-for="Produkttypevinsj" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ÅrsmodellVinsj">Årsmodell på vinsj</label>
        <input asp-for="ÅrsmodellVinsj" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Serienummervinsj">Serienummer</label>
        <input asp-for="Serienummervinsj" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Registreringsdato">Registreringsdato</label>
        <input asp-for="Registreringsdato" type="text" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="AvtaltKommentar">Spesifikke avtaler med kunde</label>
        <input asp-for="AvtaltKommentar" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="InternKommentar">Internkommentar</label>
        <input asp-for="InternKommentar" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Problembeskrivelse">Problembeskrivelse</label>
        <textarea asp-for="Problembeskrivelse" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="ServiceType">Type service</label>
        <input asp-for="ServiceType" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="AvtaltleveringsDato">Når skal vinsjen leveres til service?</label>
        <input asp-for="AvtaltleveringsDato" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Avtaltferdigstillingsdato">Når skal vinsjen være ferdig?</label>
        <input asp-for="Avtaltferdigstillingsdato" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ProduktmottattDato">Når ble vinsjen mottatt?</label>
        <input asp-for="ProduktmottattDato" type="date" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Lag serviceordre</button>
</form>
