@{
    ViewData["Title"] = "Passord reset bekreftelse";
}

<h1>@(ViewData["Title"] ?? "Passord reset bekreftelse")</h1>
<p>
    Passordet ditt har blitt endret vellykket!
</p>
<p>
    Du vil bli omdirigert til <a asp-controller="Home" asp-action="Index">Oversikt</a>.
</p>

<script>
    // Legg til JavaScript for å omdirigere etter en kort forsinkelse
    setTimeout(function () {
        window.location.href = '@Url.Action("Index", "Home")';
    }, 3000); // 3000 milliseconds = 3 sekunder
</script>
