@using NostedServicePro.Models.Account
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset passord";
}

<form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()

    <!-- Overskrift som viser hvilket passord som skal endres -->
    <h4>Endre passordet til: @User.Identity?.Name.</h4>
    <hr />

    <!-- Valideringsoppsummering for modellen, vises som rød tekst ved valideringsfeil -->
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!-- Input-felt for nåværende passord -->
    <div class="form-group">
        <label asp-for="OldPassword" class="col-md-2 control-label">Nåværende passord</label>
        <div class="col-md-10">
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>

    <!-- Input-felt for nytt passord -->
    <div class="form-group">
        <label asp-for="NewPassword" class="col-md-2 control-label">Nytt passord</label>
        <div class="col-md-10">
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>

    <!-- Input-felt for bekreftelse av nytt passord -->
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label">Bekreft nytt passord</label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <br />

    <!-- Knapp for å sende inn skjemaet for passordtilbakestilling -->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Tilbakestill passord</button>
        </div>
    </div>
</form>

<!-- Inkludering av scripts for validering -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
