@{
    ViewData["Title"] = "Passord reset bekreftelse";
}

<h1>@(ViewData["Title"] ?? "Passord reset bekreftelse")</h1>
<p>
    Passordet ditt har blitt endret vellykket!
</p>
<p>
    Du vil bli omdirigert til <a asp-controller="Home" asp-action="Index">Oversikt</a>.
</p>


<!-- JavaScript som omdirigerer brukeren etter gitt sekunder -->
<script>
    setTimeout(function () {
        window.location.href = '@Url.Action("Index", "Home")';
    }, 5000); // 5000 milliseconds = 5 sekunder
</script>