@using NostedServicePro.Models.Account
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset passord";
}

<h1>@(ViewData["Title"] ?? "Reset passord")</h1>

<form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()
    <h4>Reset ditt passord.</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="OldPassword" class="col-md-2 control-label">Nåværende passord</label>
        <div class="col-md-10">
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword" class="col-md-2 control-label">Nytt passord</label>
        <div class="col-md-10">
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label">Bekreft nytt passord</label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Tilbakestill passord</button>
        </div>
    </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
