@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <a href="@Url.Action("Index", "Service")">Gå til Service-skjema</a>


    <div>
        <a class="btn btn-primary btn-lg" asp-action="Index" asp-controller="Service">Lag Skjema</a>
        <a class="btn btn-success btn-lg" asp-action="Arkiv" asp-controller="Service">Service Arkiv</a>
        <a class="btn btn-primary btn-lg" asp-action="VisAlleBrukere" asp-controller="Login" >Brukere</a>
        <a class="btn btn-danger btn-lg" asp-action="VisSjekklisteMedStatus" asp-controller="Sjekkliste" >Sjekkliste</a>
    </div>


</div>
