@{
    ViewData["Title"] = "Oversikt";
}

<div class="text-center">
    <h1 class="display-4">OVERSIKT</h1>
    <h2>KUN FREMVISNING (ikke fungerende)</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a class="d-inline-flex flex-column align-items-center link-body-emphasis text-decoration-none">
        <img src="~/css/Bilder/OVERSIKT.jpg" alt="Logo" width="1200px" class="mb-2">
    </a>

    <br />
    <br />
    <br />
    <p>
        Scrum


        Det finnes mange ulike metoder og prosesser for utvikling av programvare.
        En av de mest brukte metodene er rammeverket Scrum. Scrum hjelper utviklere å strukturere et
        prosjekt med trinnvise, realistiske målsetninger, samt tidsestimering av de ulike oppgavene som må
        gjøres (Bhaskar, S., 2023). Ved inndeling av sprinter kan utviklere sikre verdi for kunden allerede
        tidlig i utviklingsprosessen, fordi de kan ha konsistent kommunikasjon med kunden. Dette fører til at
        utviklere kan sikre at et MVP, et Minimal Viable Product, som er et minstekrav av et produkt, blir fremstilt
        tidlig i utviklingen (Bhaskar, S., 2023). Dette vil si at utvikleren fremstiller en liten, men betydningsfull
        del av systemet kunden forventer veldig tidlig i prosessen. Slik kan kunden og utvikleren kommunisere tettere
        på lengre sikt for å forstå bedre hva de forventer av hverandre. Dette fører til at utviklere slipper å vente
        helt til ferdigstilling av produktet før det vises frem, noe som kan skape problemer fordi kunden aldri så
        noe av systemet før det var ferdig (Bhaskar, 2023).

        Et scrum-team består som regel av tre roller – produkteieren, scrum-master og team-medlemmene
        (Lutkevich, u. å.).
        Produkteieren opptrer som et mellomledd mellom scrum-teamet og kunden de utvikler for
        (Lutkevich, u. å.). Slik kan teamet sikre at kunden sine forventninger alltid er klare og tydelige.
        Å ha en person som har kommunikasjon med kunden som sitt hele ansvar kan resten av teamet ha produkteieren
        å forholde seg til, så de slipper å ta kontakt med kunden direkte om det er noe de lurer på (Lutkevich, u. å.).
        Scrum-masteren har overordnet ansvar for utviklingen av systemet
        (Lutkevich, u. å.). Dette vil si at scrum-masteren skal sikre at alle oppgaver blir gjort, at scrum-metoder
        blir tatt i bruk og at resten av teamet har en god generell forståelse for hva kunden ber om. En scrum-master
        skal kunne håndtere utfordringer i en utviklingsprosess som konfliktløsning, være god på å organisere team og
        optimalisere utviklingsprosessen (Lutkevich, u. å.).
        Team-medlemmer sitt ansvar er å utføre oppgaver som blir identifisert av scrum-masteren og resten av teamet
        (Lutkevich, u. å.). Teamet bruker det som kalles en sprint backlog for å organisere oppgaver seg imellom, og
        skal
        være selvstyrt (Lutkevich, u. å.).
     
    </p>

</div>
