@model Loginnosted.Models.Sjekkliste

<h1>Sjekkliste for @Model.KundeNavn</h1>

<ul>
    @foreach (var sjekklisteElement in Model.SjekklisteElement)
    {
        <li>
            <strong>@sjekklisteElement.Sjekkpunkt:</strong> @sjekklisteElement.Status
        </li>
    }
</ul>
