@{
    ViewData["Title"] = "Oversikt";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <h2 class="display-6 text-center">Oversikt Service</h2>
                <p>
                    ordre id #5665
                    <br />
                    ordre id #5665
                    <br />
                    ordre id #5665
                    <br />
                    ordre id #5665
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h2 class="display-6 text-center">Kalender</h2>
                <iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=1&bgcolor=%23A79B8E&ctz=Europe%2FOslo&title=N%C3%B8sted%20Service%20Kalender&src=OWU0NGU2NTNlZDEyNDIyYjMwMzE1YzY0YTBiOTAwZmQxY2FlODgyNjVjYmZkMDA2ODBjZTVjNzFhN2JjYTIyY0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23795548"
                        style="border:solid 1px #777" width="100%" height="500px" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>