@model List<ServiceOrdre>

@{
    ViewData["Title"] = "Oversikt";
}

<!-- Container for innholdet -->
<div class="container mt-10">
    <div class="row">
        <!-- Kolonne for uferdige serviceordre -->
        <div class="col-md-6">
            <div>
                <h2 class="display-6 text-center">Registrerte Servicer</h2>
                <!-- Vis antall uferdige serviceordre -->
                <p class="text-center">Antall aktive serviceordre: @Model.Count(s => !s.ErSjekklisteFullført)</p>

                <!-- Loop gjennom de første 10 uferdige serviceordrene (hvis tilgjengelig) -->
                <div class="row">
                    @for (var i = 0; i < 10 && i < Model.Count; i++)
                    {
                        var serviceOrdre = Model[i];
                        <div class="col-md-6" style="padding: 10px;">
                            <!-- Lenk til detaljsiden for serviceordren -->
                            <a href="@Url.Action("Details", "Service", new { id = serviceOrdre.OrdreID })">
                                <div class="service-box">
                                    <!-- Visningsdetaljer for serviceordren -->
                                    <strong>Ordre ID: @serviceOrdre.OrdreID</strong>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>

        <!-- Kolonne for kalender -->
        <div class="col-md-6">
            <div>
                <h2 class="display-6 text-center">Kalender</h2>
                <!-- Google-kalender -->
                <iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=1&bgcolor=%23A79B8E&ctz=Europe%2FOslo&title=N%C3%B8sted%20Service%20Kalender&src=OWU0NGU2NTNlZDEyNDIyYjMwMzE1YzY0YTBiOTAwZmQxY2FlODgyNjVjYmZkMDA2ODBjZTVjNzFhN2JjYTIyY0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23795548"
                        style="border:solid 1px #777" width="100%" height="500px" frameborder="0" scrolling="no">
                </iframe>
            </div>
        </div>
    </div>
</div>