@{
    ViewData["Title"] = "Oversikt";
}

<div class="text-center">
    <h1 class="display-4">OVERSIKT</h1>
    <h2>KUN FREMVISNING (ikke fungerende)</h2>

    <a class="d-inline-flex flex-column align-items-center link-body-emphasis text-decoration-none">
        <img src="~/css/Bilder/OVERSIKT.png" alt="Logo" width="1200px" class="mb-2">
    </a>

    <br />
    <br />
    <br />
    <p>
     
</div>
