@model Nøsted_ServicePro.Models.ServiceOrderModel

@{
    ViewData["Title"] = "Registrere Service";
}
<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="LagreServiceOrdre">
    <div class="text-center">
        <div class="mb-3">

            <input asp-for="KundeNavn" class="form-control" placeholder="Kundenavn">
        </div>
        <div class="mb-3">
            <p></p>
            <input asp-for="VinsjID" class="form-control" placeholder="Vinsj Serienummer">
        </div>
        <div class="mb-3">
            <p></p>

            <input asp-for="KundeKommentar" class="form-control" placeholder="Kommentar fra kunden">
        </div>
        <p></p>

        <!-- Repeat similar blocks for other fields -->
        <button type="submit" class="btn btn-primary">Submit</button>
        <p></p>
        <a class="nav-link text-dark" asp-area="" asp-controller="ServiceRegistrering" asp-action="Serviceskjema">Servicedokument</a>
    </div>
</form>