@model Nøsted_ServicePro.Models.ServiceOrderModel

@{
    ViewData["Title"] = "Serviceskjema";
}
<h2>@ViewData["Title"]</h2>

<p>KundeNavn: @Model.KundeNavn</p>
<p>VinsjID: @Model.VinsjID</p>
<p>KundeKommentar: @Model.KundeKommentar</p>
