@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nøsted Service Pro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Loginnosted.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/ce9b37f466.js" crossorigin="anonymous"></script>
    <script src="~/js/Layout.js" asp-append-version="true"></script>

</head>

<body>

    <header id="fiksaheader" class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">

        <!-- hele logoen, med riktig css og skal fungere som hjem knapp -->
        <div class="col-md- mb-2 mb-md-0">
            <a class="d-inline-flex flex-column align-items-center link-body-emphasis text-decoration-none" asp-action="Index" asp-controller="Home">
                <img src="~/css/Bilder/LOGO.jpg" alt="Logo" height="50px" class="mb-2">
                <span style="font-size: 30px; color:#A1B6C1">Service Pro</span>
            </a>
        </div>

        <!-- knappene i header, som tar bruker rundt på siden. -->

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

            <li class="nav-item">
                <a class="nav-link btn" style="color: #A1B6C1" asp-action="Index" asp-controller="Home">
                    <i class="fa-solid fa-house fa-lg" style="color: #A1B6C1" width="50px"></i>
                    <br />
                    Hjem
                </a>
            </li>
            @if (User.IsInRole("Admin"))
                {
                <li class="nav-item">
                    <a class="nav-link btn" style="color: #A1B6C1" asp-action="Registrer" asp-controller="Service">
                        <i class="fa-solid fa-pen-to-square fa-lg" style="color: #A1B6C1" width="50px"></i>
                        <br />
                        Opprett Service
                    </a>
                </li>
                }

                <li class="nav-item">
                    <a class="nav-link btn" style="color: #A1B6C1" asp-action="ServiceOversikt" asp-controller="Service">
                        <i class="fa-solid fa-list fa-lg" style="color: #A1B6C1" width="50px"></i>
                        <br />
                        Aktive ordre
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn" style="color: #A1B6C1" asp-action="Arkiv" asp-controller="Service">
                        <i class="fa-solid fa-clock fa-lg" style="color: #A1B6C1" width="50px"></i>
                        <br />
                        Servicehistorikk
                    </a>
                </li>

                <!-- kun admin har tilgang til denne siden -->
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link btn" style="color: #A1B6C1" asp-action="VisAlleBrukere" asp-controller="Bruker">
                            <i class="fa-solid fa-user fa-lg" style="color: #A1B6C1" width="50px"></i>
                            <br />
                            Brukere
                        </a>
                    </li>
                }

            </ul>

        <button id="menu-toggle" class="btn hamburgermeny" data-bs-target="#navbarNav">
            <i class="fas fa-bars custom-icon"></i>
        </button>

        <div id="menu-hover" class="menu-hover">
            <a class="hei" asp-action="Index" asp-controller="Home">Hjem</a>

            @if (User.IsInRole("Admin"))
            {
                <a class="hei" asp-action="Registrer" asp-controller="Service">Opprett Service</a>
            }
            <a class="hei" asp-action="ServiceOversikt" asp-controller="Service">Aktive ordre</a>

            <a class="hei" asp-action="Arkiv" asp-controller="Service">Servicehistorikk</a>

            <!-- kun admin har tilgang til denne siden -->
            @if (User.IsInRole("Admin"))
            {
                <a class="hei" asp-action="VisAlleBrukere" asp-controller="Bruker">Brukere</a>
            }

            <a class="fa-solid fa-user" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">  @User.Identity?.Name</a>

            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="/Account/Login"
                  onsubmit="return confirmLogout();">
                <button type="submit" class="btn btn-primary">Logg ut</button>
            </form>

        </div>


        <!-- Viser hvilke bruker som er logget inn. -->
        <div id="logget-inn">
            <strong>Logget inn:</strong>
            <partial name="_LoginPartial" />
        </div>

    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <img src="~/css/Bilder/logoicon.jpg" height="50px" class="mb-2">
            &copy; 2023 - Nøsted& AS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

  
</body>
</html>
