@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" id="userNameLink" href="#">@User.Identity?.Name</a>
        </li>

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="/Account/Login"
                  onsubmit="return confirmLogout();">
                <button type="submit" class="btn btn-primary">Logg ut</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>


<!-- Veldig lite script, tenker den blir i filen. -->
<script>
    document.getElementById("userNameLink").addEventListener("click", function () {
        window.location.href = '@Url.Action("ResetPassword", "Account")';
    });

    function confirmLogout() {
        var result = confirm("Vil du logge ut av: @User.Identity?.Name ?");
        return result;
    }
</script>
